/* Make the logo in navbar larger */
nav .navbar-brand img {
    height: 26px;
}

/* Fix Bootstrap issue and display .invalid-feedback inside an .input-group and sibling of .form-floating */
.was-validated .input-group:has(.form-floating :invalid) > .invalid-feedback,
.input-group:has(.form-floating .is-invalid) > .invalid-feedback {
    display: block;
}

/* Alternate icons on button hover */
.icon-btn .hover-icon {
    display: none;
}

.icon-btn:hover .normal-icon {
    display: none;
}

.icon-btn:hover .hover-icon {
    display: inline;
}

.small-font {
    font-size: .875em;
}

.cursor-pointer{
    cursor: pointer;
  }
