.red-text {
    color: #ff0000;
}

#pokemon-container {
    margin-top: 20px;
}
.pokemon-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    max-width: 300px;
}
.pokemon-card img {
    width: 100px;
}
