<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - To Do</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'list_management/css/style.css' %}">
    <style>
        {# Example of embedded styles #}
        .embedded-style {
            font-style: italic;
        }
    </style>

    {# test1 JavaScript demo CSS #}
    <link rel="stylesheet" href="{% static 'list_management/css/test1.css' %}">

</head>
<body>
    {% block content %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</body>
</html>